<%- include('partials/header', { title: 'Profile', user, messages: messages
}) %>


<%
let role = "";
let email = user.email;
let username = user.username
let firstName = "";
let lastName = "";
let birthDate = "";
let age = "";

if (userData) {
    role = userData.position;
    username = userData.username
    email = userData.email
    firstName = userData.first_name || "";
    lastName = userData.last_name || "";
    birthDate = userData.birth_date ? new Date(userData.birth_date).toLocaleDateString() : "";
    age = userData.birth_date ? Math.floor((new Date() - new Date(userData.birth_date)) / (365.25 * 24 * 60 * 60 * 1000)) : "";
}


let incorrectPass = status == 404 ? true : false; 
%>


<h1>Profile</h1>


<!-- INPUT PASSWORD  -->

<% if (status == "noManager" ) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin: 50px;">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <strong>No Manager</strong> <br> Please Assign your Manager First!
  </div>

  <script>
    var alertList = document.querySelectorAll(".alert");
    alertList.forEach(function (alert) {
      new bootstrap.Alert(alert);
    });
  </script>
<%}%>


<% if (status == "noOrganization" ) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin: 50px;">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <strong>You are not assigned to any organization</strong> <br> Try Again If you Already have Organization!
  </div>

  <script>
    var alertList = document.querySelectorAll(".alert");
    alertList.forEach(function (alert) {
      new bootstrap.Alert(alert);
    });
  </script>
<%}%>

<div class="modal fade " id="inputPasswordModal" tabindex="-1" aria-labelledby="inputPasswordLabel"
    aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="inputPasswordLabel">Input Password First to Procceed!</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form id="inputPasswordForm" action="/profile/check" method="POST">
      <div class="modal-body">
     
        <div class="mb-3">
          <label for="inputPasswordRole" class="form-label">Input Password</label>
          <input type="hidden" name="email" value="<%= email%>">
          <input type="password" class="form-control" id="inputPasswordRole" name="password" <%if(incorrectPass){%> style="border: solid red 2px; background:#ff000031"  <%}%> required>
          <%if(incorrectPass){%><label for="inputPasswordRole" class="form-label" style="color: red;">Incorrect Password</label><%}%>

        </div>

      </div>  
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" onclick="">Enter</button>
      </div>
    </form>
  </div>
</div>
</div>




<div class="main-body">
  <div class="row gutters-sm">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <img
              src="https://cdn-icons-png.flaticon.com/512/64/64572.png"
              alt="Admin"
              class="rounded-circle"
              width="150"
            />
            <div class="mt-3">
              <h4><%= `${firstName} ${lastName}`%></h4>
              <p class="text-secondary mb-1"><%= email%></p>
              <p class="text-secondary mb-1"><%= role%></p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Full Name</h6>
            </div>
            <div class="col-sm-9 text-secondary"><%= firstName == ""|| firstName == null ? "Name not yet entered" :  `${firstName} ${lastName}`%></div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Email</h6>
            </div>
            <div class="col-sm-9 text-secondary"><%= email%></div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Password</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              *************
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Manager</h6>
            </div>
            <%if(myManager != undefined || myManager != null){%>
            <div class="col-sm-9 text-secondary">
              <%= `${myManager.first_name} ${myManager.last_name}`%>
            </div>
            <%}else {%>
              <div class="col-sm-9 text-secondary">
                No Assigned
              </div>
            <%}%>
          </div>
          
          <hr />
      
          
          <div class="row">
            <div class="col-sm-12">
                <button id="openModal" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inputPasswordModal">
                    <i class="fa-solid fa-edit"></i> Edit
                  </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row gap-3 w-100">
      <div class="col-sm-5 mb-3 w-50">
        <div class="card">
          <div class="card-body">
            <!-- Table showing name and totalHours -->
            <div class="w-100 flex">
              <div class="work-schedule">
                <h3 class="mb-2">User Work Schedule</h3>
                <table class="table table-striped-columns w-100">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Paid Hours</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% userSchedule[0] && userSchedule[0].schedule_day.forEach((schedule, index) => { %>
                     
                    <tr>
                      <td><%= schedule%></td>
                      <td>
                        <% 
                          let paidHours = userSchedule[0].paid_hours[index];
        
                        %>

                        <%=paidHours%>
                          
                   
                      </td>
                    </tr>
                    <% }) %>

                    <tr>
                      <td class="table-info fw-bold">Total Hours</td>
                      <td class="table-info"><%= totalHours%></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-sm-5 mb-3 w-45">
        <div class="card">
          <div class="card-body">
            <div class="w-100 flex">
              <div class="pay-day">
                <h3 class="mb-2">Pay Day Schedule</h3>
                <table class="table table-striped-columns w-100">
                  <thead>
                    <tr>
                      <th>Dates</th>
                      <th>Total Hours</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% payPeriods.forEach((schedule, index) => { %>
                    <tr>
                      <td>
                        <%= schedule.toDateString().split(' ')[0] + ' ' +
                        schedule.toDateString().split(' ')[1] + '. ' +
                        schedule.getDate() + ' ' + schedule.getFullYear() %>
                      </td>
                      <td><%= individaulSchedTotalHours[index]%></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<%- include('partials/footer', {user}) %>

<%if(status == 404) {%>
    <script>
        // Assuming button is the reference to your button element
        
    let button = document.getElementById('openModal');
    console.log(button)

    button.click();
    </script>
<%}%>
