<%- include('partials/header', { title: 'Edit Profile', user, messages: messages }) %>

<h1>Edit Profile</h1>

<form id="editProfileForm" action="/editUser" method="POST">
    <!-- Form fields for editing user details -->
    <div>
        <!-- <label for="userID">userID:</label> -->
        <input type="number" id="userID" name="userID" value="<%= userData.id %>" hidden>
    </div>    
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="<%= userData.username %>" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="<%= userData.email %>" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" >  <!-- not required unless you want to reset the password -->
    </div>
    <!-- <div>
        <label for="role">Role:</label>
        <select id="role" name="role" required>
            <option value="admin" % if (userData.role === 'admin') { %> selected % } %>>Admin</option>
            <option value="user" % if (userData.role === 'user') { %> selected % } %>>User</option>
        </select>
    </div> -->
    <div>
        <label for="verification_token">Verification Token:</label>
        <input type="text" id="verification_token" name="verification_token" value="<%= userData.verification_token %>" required>
    </div>
    <div>
        <label for="verified_email">Verified Email:</label>
        <input type="checkbox" id="verified_email" name="verified_email" <% if (userData.verified_email) { %> checked <% } %>>
    </div>    
    <button type="submit">Update Profile</button>
</form>

<!-- Table showing name and totalHours -->
<div class="w-100 flex">
    <div class="work-schedule">
        <h3 class="mb-4 mt-5">User Work Schedule</h3>
        <table class="table table-striped-columns w-50">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Paid Hours</th>
                </tr>
            </thead>
            
            <tbody>
                <% userSchedule[0].schedule_day.forEach(schedule => { %>
                    <tr>
                        <td><%= schedule%></td>
                        <td><%= schedule == "Sunday" || schedule == "Saturday" ? 0.00 : userSchedule[0].paid_hours %></td>
                    </tr>
                <% }) %>
                    <tr>
                        <td class="table-info fw-bold">Total Hours</td>
                        <td class="table-info"><%= totalHours%></td>
                    </tr>
        
                
            </tbody>
        </table>
    </div>
    
    
    <div class="pay-day">
    
    <h3 class="mb-4 mt-5">Pay Day Table</h3>
    
    <table class="table table-striped-columns w-50">
        <thead>
            <tr>
                <th>Dates</th>
                <th>Total Hours</th>
            </tr>
        </thead>
        
        <tbody>
            <% payPeriods.forEach((schedule, index) => { %>
                <tr>
                    <td><%= schedule.toDateString().split(' ')[0] + ' ' + schedule.toDateString().split(' ')[1] + '. ' + schedule.getDate() + ' ' + schedule.getFullYear() %></td>
                    <td><%= individaulSchedTotalHours[index]%></td>
                </tr>
            <% }) %>
               
    
            
        </tbody>
    </table>
    
    </div>
    
    
</div>




<%- include('partials/footer', {user}) %>
