<%- include('partials/header') %>

    <section class="col py-3">
        <div class="container pt-2 m-0 bglight">
            <h1 class="page-title mb-4">User Records</h1>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Password</th>
                            <th scope="col">Role</th>
                            <th scope="col">Flexi Balance</th>
                            <th scope="col">RDO Balance</th>
                            <th scope="col">TIL Balance</th>
                            <th scope="col">Total Leave</th>
                            <th scope="col">Total Overtime</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user=> { %>
                            <tr>
                                <td scope="row">
                                    <%= user.id %>
                                </td>
                                <td>
                                    <%= user.username %>
                                </td>
                                <td>     
                                    <%= user.email %>
                                </td>
                                <td>
                                    <% if (user.password) { %>
                                        <%= user.password.substring(0, 10) + (user.password.length> 10 ? '...' : '') %>
                                    <% } else { %>
                                        N/A
                                    <% } %>
                                </td>
                                <td>
                                    <%= user.role %>
                                </td>
                                <td>
                                    <%= user.flexi_balance %>
                                </td>
                                <td>
                                    <%= user.rdo_balance %>
                                </td>
                                <td>
                                    <%= user.til_balance %>
                                </td>
                                <td>
                                    <%= user.total_leave %>
                                </td>
                                <td>
                                    <%= user.total_overtime %>
                                </td>
                                <td><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editUserModal<%= user.id %>"><i class="fa-solid fa-pen edit-icon" aria-hidden="true"></i></button></td>
                            </tr>
                        <% }); %>
                    </tbody>
                    
                </table>
            </div>
        </div>
    </section>

    <section class="main col pt-3 mx-4">
        <div class="pt-2 m-0">
            <h1>Add User</h1>
            <div class="row justify-content-left">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <form action="/addUser" method="POST">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input class="form-control mb-2" type="text" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="form-control mb-2" type="email" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input class="form-control mb-2" type="password" id="password" name="password" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="role">Role:</label>
                            <select id="role" name="role" class="form-select" required>
                                <option value="admin">Admin</option>
                                <option value="user">User</option>
                            </select>
                        </div>
                        <button class="btn btndark" type="submit">Add User</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Edit User Modal -->
    <% users.forEach(user => { %>
        <div class="modal fade" style="color:black;" id="editUserModal<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel<%= user.id %>" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editUserModalLabel<%= user.id %>">Edit User</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/updateUser" method="POST">
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input class="form-control mb-2" type="text" id="username" name="username" value="<%=user.username%>" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input class="form-control mb-2" type="email" id="email" name="email" value="<%=user.email%>"  required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <p style="font-size: .8rem; color: gray;">Leave blank if you don't want to edit the password
                                </p>
                                <input class="form-control mb-2" type="password" id="password" name="password" required>
                            </div>
                            <div class="form-group mb-4">
                                <label for="role">Role:</label>
                                <select id="role" name="role" class="form-select" required>
                                    <option value="admin" <%= user.role == 'admin' ? 'selected' : '' %>>Admin</option>
                                    <option value="user" value="admin" <%= user.role == 'user' ? 'selected' : '' %>>User</option>
                                </select>
                            </div>
                            <button class="btn btndark" type="submit">Add User</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
    <!-- End of Edit User Modal -->

    <%- include('partials/footer') %>