
<%- include('partials/header', { title: 'Admin settings', user, messages:messages }) %>

<div class="container-lg">    
    <h1>User Records</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Role</th>
                <th scope="col">Verification Token</th>
                <th scope="col">Verified Email</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td scope="row"><%= user.id %></td>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td>
                        <% if (user.password) { %>
                            <%= user.password.substring(0, 10) + (user.password.length > 10 ? '...' : '') %>
                        <% } else { %>
                            N/A
                        <% } %>
                    </td>                    
                    <td><%= user.role %></td>
                    <td>
                        <% if (user.verification_token) { %>
                            <%= user.verification_token.substring(0, 10) + (user.verification_token.length > 10 ? '...' : '') %>
                        <% } else { %>
                            null
                        <% } %>
                    </td>
                    <td><%= user.verified_email %></td>
                    <td><a href="<%= config.baseUrl %>/users/<%= user.id %>">edit</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

        <div class="container">
    <h1>Add User</h1>
    <form action="/addUser" method="POST">
        <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-control" type="text" type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" type="text" type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" type="text" type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="role">Role:</label>
            <select id="role" name="role" class="form-select" required>
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
        </div>
        <button class="btn btn-dark btn-lg" type="submit">Add User</button>

    </form>
</div>

</body>
</html>
